
  // .form-area {
  //   width: 30%;
  //   padding: 20px;
  //   overflow-y: auto; /* For scrolling */
  // }


.card-container, .viewer {
    width: 100%; // Make the card and viewer each take 50% width
    height: 70vh; // Make them take full height of the container
    overflow-y: auto; // Add vertical scrolling if content overflows
}

.red-font {
    color: red;
}

  