<div *ngIf="data" class="row">
    <div class="col-8 card-container">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form form-horizontal striped-rows form-bordered">
                        <div class="form-body">
                            <h5 class="card-title"> Personal Information</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Name">Name</label>
                                                    <input type="text"
                                                        class="form-control"
                                                        id="Name"
                                                        name="Name"
                                                        [value]="data.read.Identity.name"
                                                        [ngClass]="{'red-font': data.read.Identity.name_confidence < 0.9}"
                                                        (click)="highlightField(data.read.Identity.name_coordinate, data.read.Identity.page_number)"
                                                        [disabled]="item.status==='Done'"
                                                        >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="AccountNumber">Account Number</label>
                                                    <input type="text"
                                                        class="form-control"
                                                        id="AccountNumber"
                                                        name="AccountNumber"
                                                        [value]="data.read.Identity.account_number"
                                                        [ngClass]="{'red-font': data.read.Identity.account_number_confidence < 0.9}"
                                                        (click)="highlightField(data.read.Identity.account_number_coordinate, data.read.Identity.page_number)"
                                                        [disabled]="item.status==='Done'"
                                                        >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="BankOffice">Bank Office</label>
                                                    <input type="text"
                                                        class="form-control"
                                                        id="BankOffice"
                                                        name="BankOffice"
                                                        [value]="data.read.Identity.bank_office"
                                                        [ngClass]="{'red-font': data.read.Identity.bank_office_confidence < 0.9}"
                                                        (click)="highlightField(data.read.Identity.bank_office_coordinate, data.read.Identity.page_number)"
                                                        [disabled]="item.status==='Done'"
                                                        >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Currency">Currency</label>
                                                    <input type="text"
                                                        class="form-control"
                                                        id="Currency"
                                                        name="Currency"
                                                        [value]="data.read.Identity.currency"
                                                        [ngClass]="{'red-font': data.read.Identity.currency_confidence < 0.9}"
                                                        (click)="highlightField(data.read.Identity.currency_coordinate, data.read.Identity.page_number)"
                                                        [disabled]="item.status==='Done'"
                                                        >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Address">Address</label>
                                                    <textarea rows="5"
                                                        class="form-control"
                                                        id="Address"
                                                        name="Address"
                                                        [value]="data.read.Identity.address"
                                                        [ngClass]="{'red-font': data.read.Identity.address_confidence < 0.9}"
                                                        (click)="highlightField(data.read.Identity.address_coordinate, data.read.Identity.page_number)"
                                                        [disabled]="item.status==='Done'"
                                                        >
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <section id="simple">
                                            
                                            <div class="row text-left">
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="card-title">Transaction History</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="card-block">
                                                                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onRowSelect($event)"
                                                                    (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)">
                                                                </ng2-smart-table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                        </div>
                        <div class="form-actions right">
                            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="onBackClick()"> 
                                   <i class="ft-x"></i> Back
                            </button>
                            <button *ngIf="item.status !== 'Done'" type="button" class="btn btn-raised btn-info mr-1" (click)="onSaveClick()">
                                   <i class="ft-save"></i> Save & Back
                            </button>
                            <button *ngIf="item.status !== 'Done'" type="button" class="btn btn-raised btn-primary" (click)="onSubmitClick()">
                                   <i class="fa fa-check-square-o"></i> Submit
                            </button>
                            
                     </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div #viewer class="viewer col-4"></div>
</div>
